extends layouts/main.pug
include mixins/videoBlock

block content
    .user-profile
        .user-profile__header
            if user.avatarUrl
                img.u-avatar(src=user.avatarUrl)
            else
                img.u-avatar(src="https://mblogthumb-phinf.pstatic.net/20150403_86/e2voo_14280514283502gas9_JPEG/kakako-00.jpg?type=w800")
            h4.profile__username=user.name
            if user.subscribers.length !== 0
                if user.subscribers.length === 1
                    h6.profile__subscribers 1 subscriber
                else
                    h6.profile__subscribers=`${user.subscribers.length} subscribers`
            if loggedUser
                if user.id !== loggedUser.id
                    if user.subscribers.includes(loggedUser.id)
                        button#jsSubscriptionBtn(style="color: #485460") SUBSCRIBED
                    else
                        button#jsSubscriptionBtn(style="color: white") SUBSCRIBE
            else
                button#jsSubscriptionBtn(style="color: white") SUBSCRIBE
        if loggedUser
             if user.id === loggedUser.id
                .user-profile__btns
                     a(href=`/users${routes.editProfile}`)
                        button Edit Profile
                     a(href=`/users${routes.changePassword}`)
                        button Change Password
    .user-videos
        .user-videos__upload
            h2.user-videos__title=`Uploaded By ${user.name}`
            .home-videos
                each item in user.videos 
                    +videoBlock({
                            id:item.id,
                            title:item.title,
                            views:item.views,
                            videoFile:item.fileUrl,
                            createdAt:item.createdAt
                        })
        .user-videos__bookmark
            h2.user-videos__title=`${user.name}'s Bookmark`
            .home-videos
                each item in user.bookmarkVideos
                    +videoBlock({
                            id:item.id,
                            title:item.title,
                            views:item.views,
                            videoFile:item.fileUrl,
                            createdAt:item.createdAt
                        })
        