header.header
    .header__wrapper
        .header__logo
            a(href=routes.home)
                i.fab.fa-youtube
                span WETUBE
        .header__search
            form(action=routes.search, method="get")
                input(type="text", placeholder="Search", name="term")
        .header__menu
            if !loggedUser
                ul
                    li
                        a(href=routes.join) Join
                    li
                        a(href=routes.login) Log In
            else
                span
                    a(href="#").toggleHeaderBtn
                        i.fas.fa-bars
    .header__wrapper__toggled
        ul
            li
                a(href=`/videos${routes.upload}`) Upload
            li
                a(href=routes.me) Profile
            li
                a(href=routes.logout) Log Out
